
.nav{
	display: flex;
    	justify-content:left;
    background-color:black;
    	align-items: baseline;
    	width: 100%;
    	 margin: 0;
}
.iduser{
	width:5%;
	height: 5%;
	color: white;
	font-size: x-large;
	 margin-right:auto;
	 margin-left: 9px;
	 text-decoration:none;
   
}


.navbar{
	    padding: 10px;
    	margin-left:10px ;
    	width: 95%;
    	height:95%;
}


ul.navbar{
	display: flex;
   flex-direction: row-reverse;
 
 justify-content: flex-start;
width: 100%;
padding:2%;
}

ul.navbar li {
	padding: 2%;
    display: inline-block;
   
}
ul.navbar li a {
    text-decoration: none;
    color: whitesmoke;
padding: 20%;
    margin-right:5px;
    border:2px solid transparent;
    border-radius: 6px;
}
ul.navbar li a:hover {
    background-color:#F64C72;
}

body{
	margin: 0;
    padding: 0;
	background-color:darkgray;
}


/*****primary--div*****/
    
      .container {
        display: flex;
        /* width: 100%; */
        width: auto;
        background-color: white;
        border: 5px solid white;
        border-radius: 30px;
        /* padding-bottom: 3%; */
        margin-top: 4%;
        margin-right: 2%;
        /* margin-bottom: 40px; */
        color: black;
        margin-left: 2%;
        /* padding-right: 1%; */
        /* padding-left: 1%; */
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 3% 5%;
    }
    
    .product_details{
	    color: black;
    padding: 1% 3%;
    /* margin-left: 20%; */
    width: auto;
		    
		 }
/****image-div*********/
    .product-image {
 
      padding: 2%;
    }

/* CSS for the product details section */

    .product-title {
     
        width: fit-content;
        font-size: xx-large;
        font-weight: bold;
        padding: 1%;
        /* width: 20%; */
    
    }
    .size{
      padding: 1%;
      margin-top: 2%;
      font-weight: 600;
      font-size: medium;
   
	
	}
	button{width:75px;
		   margin:5px;
		   padding: 8px;
		 
			border:2px solid transparent;
		     border-radius: 8px;
		     transition-duration: 0.2s;
	}
	.button:hover {
  background-color:black; 
  color: white;
}

    .product-price {
      font-size: 30px;
    color: coral;
    width: fit-content;
    /* height: 30px; */
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 2%;
    /* padding: 10px; */
    padding-left: 0%;
      
    }

    .product-description {
      margin-bottom: 1%;
      padding: 1%;
      
    }

    .buy-button {
      margin-top: 5%;
    /* margin-left: 0px; */
    background-color: goldenrod;
    color: white;
    padding: 2% 3%;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    padding-bottom: 2%;
    }

    .add-to-cart-button {
      background-color: yellowgreen;
      padding: 2%;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      font-size: medium;
      border: none;
      border-radius: 4px;
      margin: 3%;
    }
  @media screen  and (max-width:576px){
      .nav {
        display: flex;
        background-color: black;
        width: 100%;
        margin: 0;
        flex-direction: row;
    
    }
    .iduser {
      /* width: 5%; */
      /* height: 5%; */
      color: white;
      font-size: xx-large;
      /* margin-right: auto; */
      /* margin-left: 1%; */
      margin: auto;
      margin-top: 2%;
      text-decoration: none;
  }
  ul.navbar {
    display: flex;
    width: 100%;
    padding: 2%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
ul.navbar li {
  padding: 3%;
  display: inline-block;
}
ul.navbar li a {
  text-decoration: none;
  color: whitesmoke;
  padding: 20%;
  margin-right: 5px;
  border: 2px solid transparent;
  border-radius: 6px;
} 
  }