body{
	background-color: orange;
}
.orderdetails{
	display: flex;
	    justify-content: left;
}

.orderdetails h2{
	color: white;
	font-size: 500%;
}


.place{
			border: 2px solid transparent;
   margin-top:10px;
   margin-left:10%;
   padding-top: 30px;
   margin-bottom: 10px;
	 width: 20%;
		background-color: white;
		border-radius: 10px;
	
}
.place p {
	color: orange;
	font-weight:bold;
	
	 margin-left:30px;
		
}
.place p span{
	margin-left:2px;
	color: black;
	letter-spacing: 1px;
	
}

.boxdata{
		border: 2px solid transparent;
	border-radius: 10px;
    width: 20%;
	background-color: white;
  margin-left:5%;
	
}

.boxdata h3{

	letter-spacing: 1px;
	font-weight:bold;
 
 color:orange;
 margin-left:30px;
 padding-bottom: 2px;


}
.boxdata h3 span{
	color:black;
	margin-left: 5%;
}
.boxdata h3 button{
	margin-left: 8px;
}
.totalprice{
	border-top: 2px solid orange;
	margin-right: 30px;
}
.add  p{
	margin-top:50px;
	
	color:black;
	font-weight:bold;
	border-color:white;
	
		 margin-left:30px;
		letter-spacing: 1px;
}

.add{
	position: absolute;
	  right: 40px;
  top: 100px;

	 width: 30%;
				border: 2px solid transparent;
	margin-right: 3%;
	    padding-right: 2%;
		background-color: white;
		border-radius: 10px;
		
		padding-bottom: 3%;
}
.add h3 {
	margin-top: 10px;
	padding-left:30px;
	letter-spacing: 1px;
	font-weight:bold;
 
 color:orange;
 margin-left:0px;
}
.paymode{
	background-color: white;
        color: black;
		border: 2px solid transparent;
	margin-top:10%;
		
		padding-top: 2px;
		padding-bottom:20px;
		display: flex;
		justify-content: space-evenly;
		border-radius: 10px;
		margin-bottom: 0%;
		
}
.paymode h2{
	margin-top:60px;
}
.button{
	background-color: white;
	padding: 30px;
	color: orange;
	margin-top: 20px;
	border:5px solid orange;
	border-radius:14px;
	margin-left:4px;
	font-size: larger;
	font-weight: 500;
}
.button:hover{
	background-color: orange;
	color:white;
}
h1{
	color:white;
}